h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.8em;
}

h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2em;
}

span {
  font-family: Arial;
  font-size: 1.6em;
}

a {
  font-family: Arial;
  font-size: 1.6em;
}

input {
  font-size: 1.6em;
  text-align: right;
  width: 200px;
}

li {
  font-family: Arial;
  font-size: 0.6em;
  color: #222;
  margin-left: -8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.output input {
  border: 2px solid;
}

.google {
  font-family: Arial;
}

.external-link {
  font-family: Arial;
  font-size: 1.2em;
  margin-left: 20px;
}

.dollar {
  margin-right:8px;
}

.x {
  margin-right:6px;
}

.number {
  margin-right:8px;
}

.percent {
  margin-left:2px;
}

.red {
  background: #FFC7CE;
  border-color: #9C0006;
  color: #9C0006;
}

.green {
  background: #C6EFCE;
  border-color: #006100;
  color: #006100;
}

.button {
  border-radius: 2px;
  color: white;

  font-size: 1.5em;
  font-weight: bold;
  padding: 5px 8px 4px 8px;
}

.button-blue {
  background-color: #008CBA;
  transition-duration: 0.4s;
}

.button-blue:hover {
  background-color: white;
  color: #008CBA;
}

.button-gray {
  background-color: #555555;
  transition-duration: 0.4s;
}

.button-gray:hover {
  background-color: white;
  color: #555555;
}

.letter {
  margin-right: 10px;
  color: #aaa;
}

.formula {
  margin-left: 10px;
  color: #444;
}

.row-label td {
  border-top: 1px solid #aaa;
  margin-top: 20px;
  display: block;
}

.source-data {
  // display: none;
}